/* Very bad solution*/
@import url("https://gold-me.github.io/DiscordIcons/main.css");

/* DEFINITIONS */
@property --si-show {
	syntax: "show | hide";
	inherits: false;
	initial-value: show;
}

@property --si-size {
	syntax: "<length>";
	inherits: true;
	initial-value: 24px;
}

@property --si-gap {
	syntax: "<length>";
	inherits: true;
	initial-value: 10px;
}

@property --si-animations {
	syntax: "true | false";
	inherits: true;
	initial-value: true;
}

@property --si-expand {
	syntax: "true | false";
	inherits: true;
	initial-value: false;
}

@property --si-Default {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Language.svg");
}

@property --si-MyAccount {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/User_Management.svg");
}

@property --si-ProfileCustomization {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Styles.svg");
}

@property --si-PrivacySafety {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Security.svg");
}

@property --si-FamilyCenter {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Group.svg");
}

@property --si-AuthorizedApps {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Apps.svg");
}

@property --si-Devices {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Screen.svg");
}

@property --si-Connections {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Connection.svg");
}

@property --si-Clips {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Camera.svg");
}

@property --si-ContentSocial {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Group.svg");
}

@property --si-Nitro {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Nitro.svg");
}

@property --si-ServerBoost {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Boost.svg");
}

@property --si-Subscriptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://fonts.gstatic.com/s/i/materialicons/fact_check/v14/24px.svg");
}

@property --si-Gifts {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Present.svg");
}

@property --si-Billing {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Credit.svg");
}

@property --si-Appearance {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Formatting.svg");
}

@property --si-Accessibility {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Accessibility.svg");
}

@property --si-VoiceVideo {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Voice.svg");
}

@property --si-Chat {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Messages.svg");
}

@property --si-Notifications {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Notification.svg");
}

@property --si-Keybinds {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Keyboard.svg");
}

@property --si-Language {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://fonts.gstatic.com/s/i/materialicons/translate/v16/24px.svg");
}

@property --si-Windows {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Windows.svg");
}

@property --si-Mac {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Apple.svg");
}

@property --si-Linux {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/gold-me/DiscordIcons/master/Icons/SVG/Logo-Tux.svg");
}

@property --si-Streaming {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Camera.svg");
}

@property --si-Advanced {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory_Board.svg");
}

@property --si-OpenAsar {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory_Board.svg");
}

@property --si-Vencord {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/jdecked/twemoji/main/assets/svg/1f431.svg");
}

@property --si-BetterDiscord {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/BetterDiscord.svg");
}

@property --si-CustomCSS {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Code.svg");
}

@property --si-Plugins {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Plugins.svg");
}

@property --si-Themes {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Theme.svg");
}

@property --si-Updater {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://fonts.gstatic.com/s/i/materialicons/system_update_alt/v13/24px.svg");
}

@property --si-Cloud {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://fonts.gstatic.com/s/i/materialicons/wb_cloudy/v12/24px.svg");
}

@property --si-BackupRestore {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://fonts.gstatic.com/s/i/materialicons/backup/v15/24px.svg");
}

@property --si-ActivityPrivacy {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Security.svg");
}

@property --si-GameActivity {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Games.svg");
}

@property --si-Overlay {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Overlay.svg");
}

@property --si-Changelog {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Logs.svg");
}

@property --si-Merch {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Present.svg");
}

@property --si-HypeSquad {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Hypesquad.svg");
}

@property --si-Experiments {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-DeveloperOptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-HotspotOptions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-DismissibleConents {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-PaymentFlowModals {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-DesignSystems {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-TextPlayground {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-TextComponents {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-IntlTesting {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-ProfileEffectsPreview {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-WebSettingTreeTool {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Memory.svg");
}

@property --si-Logout {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Exit.svg");
}

@property --si-Overview {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Info.svg");
}

@property --si-Roles {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Roles.svg");
}

@property --si-Emoji {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Emoji.svg");
}

@property --si-Stickers {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Sticky_Note.svg");
}

@property --si-Soundboard {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Voice.svg");
}

@property --si-Widget {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Widgets.svg");
}

@property --si-Template {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Collection.svg");
}

@property --si-CustomInvite {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Invites.svg");
}

@property --si-Integrations {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Integrations.svg");
}

@property --si-AppDirectory {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Widgets.svg");
}

@property --si-SafetySetup {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Moderation.svg");
}

@property --si-AutoMod {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://fonts.gstatic.com/s/i/materialicons/fact_check/v14/24px.svg");
}

@property --si-AuditLog {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Calendar.svg");
}

@property --si-Bans {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Blocked.svg");
}

@property --si-Onboarding {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Groups.svg");
}

@property --si-Insights {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Insights.svg");
}

@property --si-Partner {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Discord/Partner.svg");
}

@property --si-Discovery {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Explore.svg");
}

@property --si-Members {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Group.svg");
}

@property --si-Invite {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Mail.svg");
}

@property --si-Permissions {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Permissions.svg");
}

@property --si-Delete {
	syntax: "<url>";
	inherits: true;
	initial-value: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/Delete.svg");
}

.standardSidebarView__23e6b {

	/* Padding and Icons */
	.item_b3f026 {
		padding: calc((32px - var(--si-size)) / 2) calc((32px - var(--si-size)) / 2);
	}

	.sidebar__23e6b .item_b3f026::before {
		content: "";
		float: left;
		width: var(--si-size);
		height: var(--si-size);
		margin-right: 8px;
		opacity: 0.5;
		transition: 160ms;
		mask: var(--si-Default) center/contain no-repeat;
		background: currentColor !important;
	}

	.item_b3f026 {
		line-height: var(--si-size);
	}

	.item_b3f026 .dot-2s_oHI {
		background-color: var(--bd-blue);
	}

	.item_b3f026:hover::before {
		opacity: 0.7;
	}

	.item_b3f026.selected_b3f026::before {
		opacity: 1;
	}

	/* Button Hover & Animations */
	@container style(--si-animations: true) {
		.sidebar__23e6b .item_b3f026 {
			border-radius: 4px 0px 0px 4px;
			transform: translateZ(0);
			transition: 220ms;
			padding-top: 4px !important;
			padding-bottom: 4px !important;
		}

		.sidebar__23e6b .item_b3f026:hover,
		.sidebar__23e6b .selected_b3f026.item_b3f026 {
			transform: translateX(8px);
			transition: 160ms;
		}
	}

	/* Icons Expansion */
	@container style(--si-expand: true) {

		.sidebar__23e6b .item_b3f026:hover,
		.selected_b3f026.item_b3f026 {
			min-width: calc(var(--custom-standard-sidebar-view-sidebar-content-width) + (var(--si-size) * (1 + (1 / 3))));
			margin-left: calc(-1 * var(--si-size) * (1 + (1 / 3)));
		}
	}
}

/* You don't have ThemeAttributes :( */
.standardSidebarView__23e6b:not(:has([data-tab-id])) {

	/* Nitro, Server Boost & Subscriptions Selected Color Fix */
	.sidebar__23e6b .item_b3f026 .selectedBackground_e681d1 {
		background-color: unset !important;
	}
	.sidebar__23e6b .item_b3f026.selected_b3f026.serverBoostTabItem_f7189e {
		background-color: var(--background-modifier-selected) !important;
	}

	.item_b3f026[aria-label="My Account" i]::before {
		mask: var(--si-MyAccount) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Profiles" i]::before {
		mask: var(--si-ProfileCustomization) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Content & Social" i]::before {
		mask: var(--si-ContentSocial) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Data & Privacy" i]::before {
		mask: var(--si-PrivacySafety) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Family Center" i]::before {
		mask: var(--si-FamilyCenter) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Family Center" i]+.item_b3f026::before {
		mask: var(--si-AuthorizedApps) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Devices" i]::before {
		mask: var(--si-Devices) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Connections" i]::before {
		mask: var(--si-Connections) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Clips" i]::before {
		mask: var(--si-Clips) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Clips" i]+.item_b3f026::before {
		mask: var(--si-FriendRequests) center/contain no-repeat;
	}

	/* Discord Nitro */

	.item_b3f026[aria-label="Nitro" i]::before {
		mask: var(--si-Nitro) center/contain no-repeat;
	}

	.item_b3f026:hover[aria-label="Nitro" i]::before,
	.selected_b3f026.item_b3f026[aria-label="Nitro" i]::before {
		background-color: var(--brand-500) !important;
	}

	/* Server Boost */

	.item_b3f026[aria-label="Nitro" i]+.item_b3f026::before {
		mask: var(--si-ServerBoost) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Nitro" i]+.item_b3f026:hover::before {
		background-color: var(--guild-boosting-pink) !important;
	}

	/* Subscriptions */

	.item_b3f026[aria-label="Subscriptions" i]::before {
		mask: var(--si-Subscriptions) center/contain no-repeat;
	}

	/* Gift Inventory */

	.item_b3f026[aria-label="Gift Inventory" i]::before {
		mask: var(--si-Gifts) center/contain no-repeat;
	}

	/* Billing */

	.item_b3f026[aria-label="Billing" i]::before {
		mask: var(--si-Billing) center/contain no-repeat;
	}

	/* Appearance */

	.item_b3f026[aria-label="Appearance" i]::before {
		mask: var(--si-Appearance) center/contain no-repeat;
	}

	/* Accessibility */

	.item_b3f026[aria-label="Accessibility" i]::before {
		mask: var(--si-Accessibility) center/contain no-repeat;
	}

	/* Voice & Video */

	.item_b3f026[aria-label="Voice & Video" i]::before {
		mask: var(--si-VoiceVideo) center/contain no-repeat;
	}

	/* Text & Images */

	.item_b3f026[aria-label="Chat" i]::before {
		mask: var(--si-Chat) center/contain no-repeat;
	}

	/* Notifications */

	.item_b3f026[aria-label="Notifications" i]::before {
		mask: var(--si-Notifications) center/contain no-repeat;
	}

	/* Keybinds */

	.item_b3f026[aria-label="Notifications" i]+.item_b3f026::before  {
		mask: var(--si-Keybinds) center/contain no-repeat;
	}

	/* Language */

	.item_b3f026[aria-label="Notifications" i]+.item_b3f026+.item_b3f026::before  {
		mask: var(--si-Language) center/contain no-repeat;
	}

	/* Windows Settings */
/**
	.item_b3f026[aria-label="Notifications" i]+.item_b3f026+.item_b3f026+.item_b3f026::before  {
		mask: var(--si-Windows) center/contain no-repeat;
	}
	**/

	/* Streamer Mode */

	.item_b3f026[aria-label="Streamer Mode" i]::before {
		mask: var(--si-Streaming) center/contain no-repeat;
	}

	/* Advanced */

	.item_b3f026[aria-label="Advanced" i]::before {
		mask: var(--si-Advanced) center/contain no-repeat;
	}

	/* OpenAsar */
	.item_b3f026[id="openasar-item" i]::before {
		mask: var(--si-OpenAsar) center/contain no-repeat;
	}

	/* Vencord Icons */
	.vc-settings.item_b3f026::before {
		mask: var(--si-Vencord) center/contain no-repeat;
	}

	.vc-plugins.item_b3f026::before {
		mask: var(--si-Plugins) center/contain no-repeat;
	}

	.vc-themes.item_b3f026::before {
		mask: var(--si-Themes) center/contain no-repeat;
	}

	.vc-updater.item_b3f026::before {
		mask: var(--si-Updater) center/contain no-repeat;
	}

	.vc-cloud.item_b3f026::before {
		mask: var(--si-Cloud) center/contain no-repeat;
	}

	.vc-backup-restore.item_b3f026::before {
		mask: var(--si-BackupRestore) center/contain no-repeat;
	}

	/* Vencord Fix Missing/Broken Icons */

	.vc-backup-restore.item_b3f026+.separator_b3f026+.header_b3f026+.item_b3f026+.item_b3f026::before {
		mask: var(--si-GameActivity) center/contain no-repeat;
	}

	.vc-backup-restore.item_b3f026+.separator_b3f026+.header_b3f026+.item_b3f026+.item_b3f026+.item_b3f026::before {
		mask: var(--si-Overlay) center/contain no-repeat;
	}

	.vc-backup-restore.item_b3f026+.separator_b3f026+.header_b3f026+.item_b3f026+.item_b3f026+.item_b3f026+.separator_b3f026+.item_b3f026::before {
		mask: var(--si-Changelog) center/contain no-repeat;
	}

	/* Activity Privacy */

	.item_b3f026[aria-label="Activity Privacy" i]::before {
		mask: var(--si-ActivityPrivacy) center/contain no-repeat;
	}

	/* Game Activity (Registered Games) */

	.item_b3f026:nth-child(33)::before {
		mask: var(--si-GameActivity) center/contain no-repeat;
	}

	/* Game Overlay */

	.item_b3f026:nth-child(34)::before {
		mask: var(--si-Overlay) center/contain no-repeat;
	}

	/* BetterDiscord Icons */
	.bd-settings-tab.item_b3f026::before {
		mask: var(--si-BetterDiscord) center/contain no-repeat;
	}

	.bd-updates-tab.item_b3f026::before {
		mask: var(--si-Updater) center/contain no-repeat;
	}

	.bd-emotes-tab.item_b3f026::before {
		mask: var(--si-Emoji) center/contain no-repeat;
	}

	.bd-customcss-tab.item_b3f026::before {
		mask: var(--si-CustomCSS) center/contain no-repeat;
	}

	.bd-plugins-tab.item_b3f026::before {
		mask: var(--si-Plugins) center/contain no-repeat;
	}

	.bd-themes-tab.item_b3f026::before {
		mask: var(--si-Themes) center/contain no-repeat;
	}

	/* Plugin Repo */
	.sidebarRegionScroller__23e6b .item_b3f026[aria-controls="pluginrepo-tab" i]::before {
		mask: var(--si-Plugins) center/contain no-repeat;
	}

	/* Theme Repo */
  .sidebarRegionScroller__23e6b .item_b3f026[aria-controls="themerepo-tab" i]::before {
		mask: var(--si-Themes) center/contain no-repeat;
	}

	/* What's New (ChangeLog) */

	.item_b3f026:nth-child(45)::before {
		mask: var(--si-Changelog) center/contain no-repeat;
	}

	/* Merch */
	.item_b3f026[aria-label="Merch" i]::before {
		mask: var(--si-Merch) center/contain no-repeat;
	}

	/* HypeSquad */

	.item_b3f026[aria-label="Merch" i]+.item_b3f026::before {
		mask: var(--si-HypeSquad) center/contain no-repeat;
	}

	/* Experiments/Developer Icons */
	.item_b3f026:has(+ .item_b3f026[aria-label="Developer Options"])::before,
	.item_b3f026[aria-label="Developer Options"]::before,
	.item_b3f026[aria-label="Developer Options"]~.item_b3f026:not(.item_b3f026:has(+ .separator_b3f026))::before,
	.item_b3f026[aria-label="Developer Options"]~.item_b3f026:not([aria-label]):has(+ .separator_b3f026)::before {
		mask: var(--si-DeveloperOptions) center/contain no-repeat;
	}

	/* Log Out */
	.item_b3f026[aria-label="Log Out"]::before {
		mask: var(--si-Logout) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Log Out"] {
		color: var(--info-danger-foreground);
	}

	.item_b3f026[aria-label="Log Out"]:hover {
		background-color: var(--info-danger-background);
	}

	/* Server: Overview Icon */
	.guilds_c48ade+.base_c48ade .item_b3f026:nth-child(1)::before,
	.item_b3f026[aria-label="Overview" i]::before {
		mask: var(--si-Overview) center/contain no-repeat;
	}

	/* Server: Roles Icon */
	.item_b3f026[aria-label="Manage Roles" i]::before {
		mask: var(--si-Roles) center/contain no-repeat;
	}

	/* Server: Soundboard Icon */
	.item_b3f026[aria-label="Soundboard" i]::before {
		mask: var(--si-Soundboard) center/contain no-repeat;
	}

	/* Server: Emojis Icon */
	.item_b3f026[aria-label="Manage Roles" i]+.item_b3f026:not([aria-label])::before {
		mask: var(--si-Emoji) center/contain no-repeat;
	}

	/* Server: Stickers Icon */
	.item_b3f026[aria-label="Stickers" i]::before {
		mask: var(--si-Stickers) center/contain no-repeat;
	}

	/* Server: Widget Icon */
	.item_b3f026:nth-child(7)::before {
		mask: var(--si-Widget) center/contain no-repeat;
	}

	/* Server: Template Icon */
	.item_b3f026[aria-label="Server Template" i]::before {
		mask: var(--si-Template) center/contain no-repeat;
	}

	/* Server: Custom Invite Link Icon */
	.item_b3f026[aria-label="Server Template" i]+.item_b3f026::before {
		mask: var(--si-CustomInvite) center/contain no-repeat;
	}

	/* Server: Integrations Icon */
	.item_b3f026[aria-label="Integrations" i]::before {
		mask: var(--si-Integrations) center/contain no-repeat;
	}

	/* Server: App Directory */
	.item_b3f026[aria-label="App Directory" i]::before {
		mask: var(--si-AppDirectory) center/contain no-repeat;
	}

	/* Server Moderation: Safety Setup Icon */
	.item_b3f026:has(+ .item_b3f026[aria-label="AutoMod" i])::before,
	.item_b3f026[aria-label="Safety Setup" i]::before {
		mask: var(--si-SafetySetup) center/contain no-repeat;
	}

	/* Server Moderation: AutoMod Icon */
	.item_b3f026[aria-label="AutoMod" i]::before {
		mask: var(--si-AutoMod) center/contain no-repeat;
	}

	/* Server Moderation: Audit Log Icon */
	.item_b3f026[aria-label="AutoMod" i]+.item_b3f026::before,
	.item_b3f026[aria-label="Safety Setup" i]+.item_b3f026::before {
		mask: var(--si-AuditLog) center/contain no-repeat;
	}

	/* Server Moderation: Bans Icon */
	.item_b3f026[aria-label="AutoMod" i]+.item_b3f026+.item_b3f026::before,
	.item_b3f026[aria-label="Safety Setup" i]+.item_b3f026+.item_b3f026::before {
		mask: var(--si-Bans) center/contain no-repeat;
	}

	/* Server Community: Overview Icon */
	.item_b3f026[aria-controls="community-tab" i]::before {
		mask: var(--si-Overview) center/contain no-repeat;
	}

	/* Server Community: Overview Icon */
	.item_b3f026[aria-label="Onboarding"]::before {
		mask: var(--si-Onboarding) center/contain no-repeat;
	}

	/* Server Community: Server Insights Icon */
	.item_b3f026[aria-label="Server Insights" i]::before,
	.item_b3f026[aria-controls="analytics-tab" i]::before {
		mask: var(--si-Insights) center/contain no-repeat;
	}

	/* Server Community: Partner Program Icon */
	.item_b3f026[aria-label="Partner Program" i]::before,
	.item_b3f026[aria-controls="partner-tab" i]::before {
		mask: var(--si-Partner);
	}

	/* Server Community: Discovery Icon */
	.item_b3f026[aria-label="Enable Discovery"]::before {
		mask: var(--si-Discovery) center/contain no-repeat;
	}

	/* Server Community: Enable Community Icon */
	.item_b3f026[aria-label="Enable Community" i]::before {
		mask: var(--si-Discovery) center/contain no-repeat;
	}

	/* Server Community: Welcome Screen Icon */
	.item_b3f026[aria-label="Welcome Screen" i]::before,
	.item_b3f026[aria-controls="community_welcome-tab" i]::before {
		mask: url("https://raw.githubusercontent.com/KillYoy/DiscordNight/master/Icons/SVG/User_Registration.svg");
	}

	/* Server Monetisation: Server Subscriptions */
	.side_b3f026 .item_b3f026[aria-label="Server Subscriptions" i]::before {
		mask: var(--si-Subscriptions) center/contain no-repeat;
	}

	/* Server: Boost Status Icon */
	.item_b3f026[aria-label="Server Boost Status" i]::before {
		mask: var(--si-ServerBoost) center/contain no-repeat;
	}

	.item_b3f026:hover[aria-label="Server Boost Status" i]::before {
		background-color: var(--guild-boosting-pink) !important;
	}

	/* Server: Members Icon */
	.item_b3f026.serverBoostTabItem_cbe0b4+.separator_b3f026+.header_b3f026+.item_b3f026::before {
		mask: var(--si-Members) center/contain no-repeat;
	}

	/* Server: Invites Icon */
	.item_b3f026[aria-label="Overview" i]+.item_b3f026:not([aria-label])+.item_b3f026:not([aria-label]):before,
	.item_b3f026.serverBoostTabItem_cbe0b4+.separator_b3f026+.header_b3f026+.item_b3f026+.item_b3f026::before {
		mask: var(--si-Invite) center/contain no-repeat;
	}

	/* Server Channel: Permissions Icon */
	.item_b3f026[aria-label="Overview" i]+.item_b3f026:not([aria-label]):before {
		mask: var(--si-Permissions) center/contain no-repeat;
	}

	/* Server: Remove Server Icon */
	.item_b3f026[aria-label="Delete Category" i]::before,
	.item_b3f026[aria-label="Delete Server" i]::before,
	.item_b3f026[aria-label="Delete Channel" i]::before {
		mask: var(--si-Delete) center/contain no-repeat;
	}

	.item_b3f026[aria-label="Delete Category" i],
	.item_b3f026[aria-label="Delete Server" i],
	.item_b3f026[aria-label="Delete Channel" i] {
		color: var(--info-danger-foreground);
	}

	.item_b3f026[aria-label="Delete Category" i]:hover,
	.item_b3f026[aria-label="Delete Server" i]:hover,
	.item_b3f026[aria-label="Delete Channel" i]:hover {
		background-color: var(--info-danger-background) !important;
	}
}