/*META{"name":"MinimalNight | Vanilla Serverlist Notices","description":"Reverts the serverlist message notices to the default Discord look","OriginalAuthor":"KillYoy#0295","authorId":"98468214824001536"}*/

/* Server Message Notice */
.wrapper_ef3116 .listItem__650eb .item__58105 {
	background: #FFFFFF !important;
	border-radius: 0px 4px 4px 0px !important;
	width: 8px !important;
	min-height: 0px !important;
}
.wrapper_ef3116 .listItem__650eb:hover .item__58105,
.wrapper_ef3116 .listItem__650eb .item__58105[style*="opacity: 1; height: 8px"],
.wrapper_ef3116 .listItem__650eb .item__58105[style*="opacity: 1; height: 40px"],
.wrapper_ef3116 .listItem__650eb .bd-unread .item__58105,
.wrapper_ef3116 .listItem__650eb .bd-hovered .item__58105,
.wrapper_ef3116 .listItem__650eb .bd-selected .item__58105,
.wrapper_ef3116 .listItem__650eb .bd-unread.bd-hovered:not(.bd-selected) .item__58105 {
	background: #FFFFFF !important;
}
