/*META{"name":"MinimalNight | Vanilla File Attachment","description":"Reverts the file attachment to the default Discord location","OriginalAuthor":"KillYoy#0295","authorId":"98468214824001536"}*/

/* Attach File/Invite Button */
.channelTextArea__74017 .attachWrapper__0923f {
	position: relative !important;
}
.channelTextArea__74017 .attachButton__74017 {
	margin: 9px 4px 10px 0px !important;
}
.channelTextArea__74017 .attachWrapper__0923f .attachButton__74017,
.channelTextArea__74017 .attachWrapper__0923f .attachButton__74017 svg,
.channelTextArea__74017 .attachWrapper__0923f .attachButton__74017 .attachButtonInner__0923f {
	height: 24px !important;
	width: 24px !important;
}
.channelTextArea__74017 .attachWrapper__0923f .attachButton__74017 .attachButtonInner__0923f .attachButtonPlus__0923f {
	fill: #FFFFFF;
}
